
@media (min-width: 1366px){
    .separator {

        top: 0px;
        right: -138px;
        z-index: -1;
        height: 100%;
    }
    .separator img{height: 100%;}
    .container.no-gutters {
        max-width: 100%;
    }
    .wellcome-heading2{height: 100vh;margin-bottom: 0px;}
    .wellcome-heading2 img {    transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;}
    .get-start-area{margin-right: 250px;}
    .mt-7 {
        margin-top: 11rem!important;
    }
    .welcome-thumb {
        width: 67%;
        position: absolute;
        top: -42%;
        right: -270px;
        z-index: -1;
    }
    
    .planeta {
        left: 26%;
        top: 7%;
    }

    
    .welcome-thumb2 {
        width: 70%;
        position: absolute;
        top: -201px;
        right: -363px;
        z-index: -1;
    }
}
@media (min-width:1920px){
    .planeta {
        left: 32%;
        top: 7%;
    }
    .separator {
        top: 0px;
        right: -228px!important;
        z-index: -1;
        height: 100%;
    }
    .mt-7 {
        margin-top: 18rem!important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #ca-navbar {
        margin-top:15px;
        padding: 30px;
        border-radius: 3px;
        background-color: #5b32b4;
        text-align: left;
    }
    .header_area .menu_area #nav .nav-link, .header_area.sticky .menu_area #nav .nav-link {
        padding: 7.5px 15px;
    }
    .navbar-light .navbar-toggler {
        color: rgb(235, 187, 60)!important;
        border-color: rgb(235, 187, 60)!important;
        margin-top: 28px!important;
    }
    .navbar-light .navbar-toggler-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(235, 187, 60)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")}
    
    /* .collapse {
        display: none !important;
    } */
    .menu_area .navbar-brand {
        font-size: 42px;
    }
    .menu_area #nav .nav-link {
        padding: 35px 7.5px;
    }
    .sing-up-button > a {
        color: #fff;
        height: 40px;
        min-width: 152px;
        line-height: 36px;
        font-size: 14px;
    }
    .welcome-thumb {
        width: 68%;
        bottom: 0px;
        right: -202px;
    }
    .video-area {
        height: 550px;
    }
    .app_screenshots_slides {
        padding: 0 4%;
    }
    .header_area.sticky .menu_area #nav .nav-link {
        padding: 23px 7.5px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .planeta {
        left: 16%;
    }
    .footer-text img {
        float: none!important;
        margin-bottom: 20px!important;
    }
    .header_area .menu_area #nav .nav-link, .header_area.sticky .menu_area #nav .nav-link {
        padding: 7.5px 15px;
    }
    .navbar-light .navbar-toggler {
        color: rgb(235, 187, 60)!important;
        border-color: rgb(235, 187, 60)!important;
        margin-top: 28px!important;
    }
    .navbar-light .navbar-toggler-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(235, 187, 60)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")}
    .header_area {
        padding: 0;
    }
    .menu_area .navbar-brand {
        font-size: 48px;
    }
    .header_area.sticky {
        height: 82px;
    }
    .header_area .menu_area #nav .nav-link,
    .header_area.sticky .menu_area #nav .nav-link {
        padding: 7.5px 15px;
    }
    #ca-navbar {
        margin-top:15px;
        padding: 30px;
        border-radius: 3px;
        background-color: #5b32b4;
        text-align: left;
    }
    .sing-up-button {
        margin-top: 30px;
        text-align: left;
    }
    .welcome-thumb {
        width: 64%;
        bottom: 57px;
        right: -146px;
    }
    .wellcome-heading {
        margin-bottom: 70px;
    }
    .single-special {
        padding: 30px 18px;
        height: auto;
    }
    .special_description_area.mt-150 {
        margin-top: 50px;
    }
    .special_description_content > h2 {
        font-size: 30px;
    }
    .video-area {
        height: 350px;
    }
    .section-heading > h2 {
        font-size: 38px;
    }
    .address-text > p,
    .phone-text > p,
    .email-text > p {
        font-size: 16px;
    }
    .footer-text > p {
        margin-bottom: 30px;
    }
    .section-heading {
        margin-bottom: 50px;
    }
    .sing-up-button > a {
        margin-top: 4px;
        display: inline-block;
        border: 2px solid #a883e9;
        height: 40px;
        min-width: 160px;
        line-height: 36px;
        font-size: 14px;
    }
    .counter-area {
        min-width: 50px;
    }
    .counter-area > h3 {
        font-size: 30px;
    }
    .app_screenshots_slides {
        padding: 0;
    }
    .clients-feedback-area .slick-slide.slick-current img {
        width: 90px !important;
        height: 90px !important;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .h100{height: 100vh;}
    .lobby_area {

        height: auto;}
    .footer-text img {
        float: none!important;
        margin-bottom: 20px!important;
    }
    .welcome-thumb2 {
        display:none;
    }
    /* .wellcome_area{height: auto;} */
    .divider{height:500px;}
    #posts {
        margin-top: -550px;
        z-index: 200;
    }
    .sidebar-blog{margin-top: 50px;}
    .blog-image img{width: 100%;}
    .lobby-h{height: auto;}
    .wellcome-heading img {
        transform: translate(24%, 13%);
        width: 70%;
        /* margin: auto; */
        /* position: absolute; */
    }
    .planeta {
        left: 12%;
        top: 4%;
        width: 75%;
    }

    .copyright-text {
        text-align: center;
        margin-top: 14px;
        margin-bottom: 0px;
    }

    .copyright-text > p {
        padding-bottom: 15px;
    }

    .separator {
        z-index: -1;
        position: absolute;
        bottom: 0px;
        transform: rotate(90deg) translate(-31%, 37%);
        right: 0px;
        top: 198px;
    }
    .separator img{width: 100%;}
    .get-start-area{

        transform: translate(0%, 9%);
    }
    .btn-pais {
        font-weight: 600;
        border-radius: 71px;
        line-height: 26px;
        font-size: 22px;
        padding: 8px 8px 8px 0px;
        margin: 34px 34px;
    }
    .btn-pais img{width: 18%!important;}
    .header_area {
        padding: 0;
    }
    .menu_area .navbar-brand {
        font-size: 31px!important;
        z-index: 100;
        height: 71px;
        left: 0px;
    }
    .navbar-light .navbar-toggler {
        color: rgb(235, 187, 60);
        border-color: rgb(235, 187, 60);
        margin-top: 17px;
        margin-bottom: 18px;
    }
    
    .navbar-light .navbar-toggler-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(235, 187, 60)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")}

    .header_area.sticky {
        height: 100px;
    }
    .header_area .menu_area #nav .nav-link,
    .header_area.sticky .menu_area #nav .nav-link {
        padding: 5px 15px;
        padding-left:10px;
    }
    #ca-navbar {
        margin-top:15px;
        padding: 20px;
        border-radius: 3px;
        background-color: #824a97;
        text-align: left;
    }
    .sing-up-button {
        margin-top: 30px;
        text-align: left;
    }
    .header_area {
        top: 0;
    }
    .welcome_text .cd-intro > p {
        font-size: 14px;
    }
    .wellcome-heading > h2 {
        font-size: 35px;
    }
    .get-start-area .email {
        margin-bottom: 20px;
        max-width: 100%;
    }
    .welcome-thumb {
        display: none;
    }
    .charlas-image img {
        width: 100%;
    }
    .special-area {
        background: url(../img/ilustraciones/fondo-circulo.svg);
        background-size: cover;
        background-position: -121px 0px;
        background-repeat: no-repeat;
        margin-top: -144px;
        padding-top: 177px;
    }

    .special-area.cursos {
        background: url(../img/ilustraciones/fondo-circulo.svg);
        background-size: cover;
        background-position: -206px 0px;
        background-repeat: no-repeat;
        margin-top: -144px;
        padding-top: 177px;
    }

    .special-area.contacto {
        background: url(../img/ilustraciones/fondo-circulo.svg);
        background-size: cover;
        background-position: -484px 0px;
        background-repeat: no-repeat;
        margin-top: -144px;
        padding-top: 177px;
    }

    .footer-contact-area {

        background-position: 34%;
    }

    .dropdown-item {
        width: 40px;
        padding: 9px 0px 0px 0px;
        text-align: center;
        margin: 0 0 0 12px;
    }
    .logo_area > a > h2 {
        font-size: 40px;
        margin-top: 10px;
    }
    .section-heading > h2 {
        font-size: 32px;
    }
    .single-special {
        margin-bottom: 30px;
        height: auto;
    }
    .circ1{left: 4%;top: 24%;z-index: 0;}
    .circ2{right: 6%;bottom: 39%;}
    .planeta-bg {padding: 130px 0;}
    .somos-b {margin-top: -4px;}
    .somos-t {
        margin-top: -14px;
    }


    .special_description_area.mt-150 {
        margin-top: 50px;
    }
    .special_description_content > h2 {
        font-size: 30px;
    }
    .app-download-btn:first-child {
        margin-right: 0;
    }
    .app-download-area {
        display: block;
    }
    .app-download-btn {
        margin-bottom: 20px;
    }
    .video-area {
        border: 10px solid #fff;
        border-radius: 20px;
        height: 250px;
    }
    .video-area::after {
        top: -10px;
        left: -10px;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        border: 1px solid #f1f4f8;
        z-index: 2;
        border-radius: 20px;
    }
    .clients-feedback-area .client-description > p {
        font-size: 20px;
    }
    .clients-feedback-area .slick-slide img {
        width: 60px !important;
        height: 60px !important;
    }
    .clients-feedback-area .slick-slide.slick-current img {
        width: 70px !important;
        height: 70px !important;
    }
    .membership-description > h2 {
        font-size: 32px;
    }
    .get-started-button {
        text-align: left;
        margin-top: 20px;
    }
    .contact_from {
        margin-top: 30px;
    }
    .wellcome-heading > h3 {
        font-size: 252px;
        top: -105px;
        left: -1px;
    }
    .wellcome-heading,
    .single-cool-fact {
        margin-bottom: 50px;
    }
    .cool_facts_area .col-12:last-of-type .single-cool-fact {
        margin-bottom: 0;
    }
    .wellcome-heading22 {
        text-align: center;
    }
    .imagen-logo {
        width: 183px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .get-start-area {
        padding-bottom: 0px;
    }
    .boton-celular {
        margin-top: 50px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .wellcome-heading > h3 {
        font-size: 284px;
    }
    .wellcome-heading > h2 {
        font-size: 60px;
        line-height: 61px;
    }
    .special-area {
        background: url(../img/ilustraciones/fondo-circulo.svg);
        background-size: cover;
        background-position: -4px 0px;
        background-repeat: no-repeat;
        margin-top: -191px;
        padding-top: 177px;
        padding-bottom: 191px;
    }
    .welcome-thumb {
        bottom: -109px;
        width: 75%;
    }
    .wellcome-heading {
        margin-bottom: 50px;
    }
    .wellcome-heading > h3 {
        top: -139px;
    }
    .get-start-area .email {
        max-width: 370px;
    }
    .wellcome-heading22 {
        text-align: center;
    }
    .imagen-logo {
        width:250px;
        margin-top:40px;
    }
    .get-start-area {
        padding-bottom: 0px;
    }
    .boton-celular {
        margin-top: 50px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .wellcome-heading > h3 {
        font-size: 286px;
    }
    .get-start-area .email {
        margin-bottom: 0;
    }
    .wellcome-heading22 {
        text-align: center;
    }
    .imagen-logo {
        width:250px;
        margin-top:40px;
    }
    .get-start-area {
        padding-bottom: 0px;
    }
    .boton-celular {
        margin-top: 50px;
    }
}